/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili di pagina */
body{
    font-family: Helvetica, sans-serif;
}

header{
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size:cover;
    color: white;
}

/* nav bar */
#nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.nav-col{
    display: flex;
    flex-basis: 10%;
}

.logo{
    align-items: center;
    padding-left: 5px;
}

.link{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    min-width: 350px;
}

.link a{ 
    text-decoration: none;
    margin: 0 25px;
    color: white;
 }

 .nav-col ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.login{
    justify-content: flex-start;
    align-items: center;
    padding-right: 5px;
}

/* header-main-container */
#header-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 70px 0 40px 0;
}

#header-content-col p{
    margin-bottom: 20px;
}

#header-content-col{
    flex-basis: 50%;
    margin-bottom: 110px;
}

/* main */
/* 1st & 3th section */
.section-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
}

.col-content{
    margin: 40px 0;
}

.col-dx{
    padding-top: 40px;
}

.col-dx h2{
    line-height: 35px;
    font-size: 30px;
    margin-bottom: 20px;
}

.col-dx p{
    line-height: 20px;
}

/* 2nd section */
.back-color{
    background-color: lightgrey;  
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

/* 4th section */
.col-large{
    text-align: center;
    margin: 20px 0;
}

.col-large h2{
    line-height: 35px;
    font-size: 30px;
    margin-bottom: 20px;
}

.col-large p{
    line-height: 20px;
}

#background-img{
    background-image: url("../img/stars.svg");
    width: 200px;
    color: black;
}

/* footer section */
.footer-back-color{
    background-color: #0f0f0f;
    border-bottom: 1px solid #3498DB;;
}

.col-large > button{
    background-color: rgb(118, 159, 212);
    color: white;
    padding: 10px;
    width: 150px;
}
.col-large, h4{
     margin-bottom: 20px;
}

/* info section */
#info-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-col{
    flex-basis: 13%;
    border: 1px solid white;
}

.footer-col-large{
    flex-basis: 25%;
    background-color: darkcyan;
    height: 200px;
}

/* footer first column content */
.footer-col img{
    width: 30px;
}

footer span{
    color: white;
}

footer span::after{
    content: "";
}

footer h4{
    margin-top: 10px;
    color: #3498DB;
}

footer ul{
    list-style: none;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    margin-bottom: 7px;
}

/* footer second column content */
h5{
    margin-bottom: 10px;
    color: #3498DB;
}

/* last footer section */
#last-container{
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.last-col{
    flex-basis: 35%;
    margin-top: 20px;
}

#logo-footer{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

/* button section */
button{
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    margin: 10px 10px;
}

#footer-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer button{
    background-color: #3498DB;
    width: 100px;
    color: white;
}


